body{
    background-color: #41533b;
  }
  
  header {
    background-image: url('fond_header.jpg');
  }
  
.drap {
    background-color: black;
}

  header a{
    color: darkkhaki;
  }
  
  header nav {
    background-color: #1c222e;
  }
  
  h1 {
    color: darkkhaki;
  }
  
  footer nav {
    background-color: lightgray;
  }
  
  aside a {
    color: black;
    font-weight:normal;
  }
  
  th {
    background-color: #9e9a75;
  }
  
  tr {
    text-align: center;
  }
  
  footer a {
    color: black;
    font-weight:normal;
    margin-right: 2rem;
  }
  
  aside {
      background-color: gray;
  }
  
  aside div > ul li {
      background-color: red;
  }
  
  footer h4 {
    color: white;
    background-color: #82562a;
  }