body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width:100%;
  }
  
  header > .drap {
    flex-basis: 100%;
    flex-grow: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 10px;
  }
  
  .Titre {
    flex-basis:100%;
    flex-grow:0;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    flex-basis:100%;
    flex-grow:0;
    font-family: cursive;
    font-size:5em;
    font-weight: normal;
    font-style: oblique;
    margin: 0.25rem;
    text-align:center;
  }
  
  h1:last-of-type {
    font-size:2em;
    font-family: sans-serif,'Arial';
    font-style: oblique;
    margin: 0;
    padding-bottom: -0.75em;
  }
  
  header nav {
    border-top: solid white thin;
    flex-basis: 100%;
    padding: 0.5em;
  }
  
  header ul {
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 0;
  }
  
  header li {
    list-style-type: none;
    flex-grow: 1;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }
  
  main section {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    height: 25em;
  }
  
  main section h2 {
    font-size: 1em;
    flex-basis: 100%;
    flex-grow: 1;
  }
  
  main section p {
    flex-basis: 50%;
    flex-grow: 0;
  }
  
  main section img {
    flex-basis: 20%;
    height: -moz-max-content;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    height:50%;
  }
  
  main h3 {
    flex-basis: 100%;
    flex-grow: 1;
  }
  
  aside {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex-basis: 30%;
    height: 100%;
  }
  
  aside img {
    flex-basis: 100%;
    flex-grow: 1;
    height: -moz-max-content;
  }
  
  aside h2 {
    margin-left: 10%;
    margin-bottom: 0;
  }
  
  aside ul {
    flex-basis: 100%;
    list-style: none;
  }
  
  aside li {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 0.65em;
  }
  
  footer {
    flex-basis: 100%;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
  }
  
  footer h4 {
    text-align: right;
    padding: 1em;
    width: 20%;
    right: 0;
    bottom: -0.15em;
    border-radius: 3em 0 0 0;
    position: fixed;
  }
  